base          = #000000
greyBlue      = #263238 // soft black
lightGreyBlue = #37474F // soft lighter black
primary       = #C2185B // deep-orange-500
primaryLight  = #E91E63 // cyan-100
primaryDark   = #880E4F

accent = #1DE9B6 // teal-A400
accentDark = #00BFA5
dividerColor = lighten(base, 40%)
hintColor = lighten(base, 74%)
iconColor = lighten(base, 46%)
textColor = lighten(base, 80%)

redVal = blue(greyBlue)
dark = red(greyBlue, redVal)

val = blue(lightGreyBlue)
light = red(lightGreyBlue, val)



.accent
  background-color accent !important
.primary
  background-color primary !important
.primary-dark
  background-color primaryDark !important
.primary-light
  background-color primaryLight !important
.accent-dark
  background-color accentDark !important
