base = #000000
dark = #1C262B // soft black
light = #2A373E // soft lighter black
primary = #00BCD4 // cyan-500
primaryLight = #B2EBF2 // cyan-100
primaryDark = #00838F
accent = #1DE9B6 // teal-A400

dividerColor = lighten(base, 33%)
hintColor = lighten(base, 74%)
iconColor = lighten(base, 46%)
textColor = lighten(base, 80%)


.accent
  background-color accent !important
.primary
  background-color primary !important
.primary-dark
  background-color primaryDark !important
.primary-light
  background-color primaryLight !important
