<ion-view view-title="{{ detail.bar.name }}">
  <ion-nav-buttons side="left">
    <div class="btn-wrapper" ink-ripple ng-click="main.goBack($event)">
      <i style="font-size: 1.2em;"class="icon ion-android-arrow-back back">
        <!-- {{ main.getPrevTitle() || 'back' }} -->
      </i>
    </div>
  </ion-nav-buttons>

  <div layout="vertical" layout-align="start" layout-fill class="detail-container">
    <md-toolbar class="primary bar-details" layout="vertical" layout-fill layout-align="start">
      <div flex>
        <h2>Description / Image</h2>
      </div>
      <div flex>
        <md-text-float class="md-whiteframe-z1 bar-search" label="search" ng-model="user.lastName"></md-text-float><!-- <i class="icon ion-ios7-search-strong"></i> -->
      </div>

    </md-toolbar>
    <ion-content on-swipe-right="main.nav('open')" class="detail">
      <md-content>
        <md-list class="detail-list">
          <md-item>
            <md-item-content ink-ripple layout-padding layout="row" layout-align="center center" class="detail-list-item">
              <div flex="10">
                <i class="icon ion-heart"></i>
              </div>
              <div flex="90">
                <strong>FAVORITES</strong>
              </div>
            </md-item-content>
          </md-item>
          <md-divider></md-divider>

          <md-item>
            <md-item-content ink-ripple layout-padding layout="row" layout-align="center center" class="detail-list-item">
              <div flex="10">
                <i class="icon ion-clock"></i>
              </div>
              <div flex="90">
                <strong>RECENT ORDERS</strong>
              </div>
            </md-item-content>
          </md-item>
          <md-divider></md-divider>

          <md-item>
            <md-item-content ink-ripple layout-padding layout="row" layout-align="center center" class="detail-list-item">
              <div flex="10">
                <i class="icon ion-beaker"></i>
              </div>
              <div flex="90">
                <strong>MAKE YOUR OWN</strong>
              </div>
            </md-item-content>
          </md-item>
          <md-divider></md-divider>

          <md-item>
            <md-item-content ink-ripple layout-padding layout="row" layout-align="center center" class="detail-list-item">
              <div flex="10">
                <i class="icon ion-star"></i>
              </div>
              <div flex="90">
                <strong>POPULAR</strong>
              </div>
            </md-item-content>
          </md-item>
          <md-divider></md-divider>

          <md-item>
            <md-item-content ink-ripple layout-padding layout="row" layout-align="center center" class="detail-list-item" ui-sref="sip.main.bars.categories({bar: detail.bar._id} )">
              <div flex="10">
                <i class="icon ion-beer"></i>
              </div>
              <div flex="90">
                <strong>DRINKS</strong>
              </div>
            </md-item-content>
          </md-item>

        </md-list>
      </md-content>
    </ion-content>
  </div>
</ion-view>
