.detail-list md-item md-item-content
  background-color light
  *
    color textColor

.detail-list-item
  min-height 50px
  div i
    font-size 1.5em
    margin 0px
    color accent
  div strong
    font-size 1.5em
.detail-container
  height 100%

.scroll-content.ionic-scroll.detail
  margin-top 0px !important
  position inherit
  min-height 70%

.platform-android md-toolbar.bar-details
  margin-top 44px;
  height 30%
  min-height 30%

.platform-ios md-toolbar.bar-details
  margin-top 44px;
  height 30%
  min-height 30%

.bar-search
  background-color accentDark
  padding-left 5%
  label
  input
    color white !important
  input
    font-size 1.2em

