<ion-view title="Drinks" md-theme="pink">
  <ion-nav-buttons side="left">
    <div class="btn-wrapper" ng-click="main.goBack($event)">
      <i style="font-size: 1.2em;"class="icon ion-android-arrow-back back">
        <!-- {{ main.getPrevTitle() || 'back' }} -->
      </i>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class="btn-wrapper">
      <i ng-click="main.openPopover($event)" class="icon ion-android-more settings"></i>
    </div>
  </ion-nav-buttons>
  <md-button id="order-fab"
  class="md-fab md-primary md-fab-bottom-right right"
  ng-click="drinks.toast()">
    <i style="font-size: 2em;" class="icon ion-card">{{ drinks.total }}</i>
  </md-button>

  <ion-content on-swipe-right="main.nav('open')">
    <md-content>
      <md-list class="drinks-list">
        <md-item ng-repeat-start="drink in drinks.bar.drinks">
          <md-item-content layout-padding layout="horizontal"
           layout-align="start center">
            <div flex>
              <h3>{{ ::drink.name }}</h3>
              <h4 class="price">{{ ::drink.price | currency }}</h4>
            </div>
            <div flex>
              <md-slider md-theme="teal" flex min="0" max="10" step="1" ng-model="drink.total" aria-label="red" id="red-slider">
              </md-slider>
            </div>
            <div flex>
              <h1>{{ drink.total }}</h1>
            </div>
          </md-item-content>
        </md-item>
        <md-divider ng-repeat-end></md-divider>
      </md-list>
    </md-content>
  </ion-content>
</ion-view>
