.auth-view
  background url(../img/auth-bg.jpg) no-repeat center center
  -webkit-background-size: cover;
  background-size: cover;
  margin-top 0px !important

  md-content
    background-color transparent !important
    color textColor

.home-logo
  text-align center
  h1
    font-size 30vw

