.category-list md-item md-item-content
  background-color light
  *
    color textColo
    r
.platform-android .cat-search
  font-size 1em
  margin-top 44px
  z-index 100

.platform-ios .cat-search
  font-size 1em
  margin-top 62px
  z-index 100

.cat-name
  text-align center
  background-color light

.cat-card
  background-color light
  *
    color textColor

.cat-card-list
  background-color dark !important
