div.scroll
  height 100%

ion-nav-view
.pane
.view
  position inherit

md-sidenav
  padding-top 40px

.nav-menu
  font-size 1.3em

  .md-tile-left
    margin-left 20px

.nav-header
  padding 10px 30px

  .name h3
    color white
  div img
    width 60px
    height 60px
    border-radius 100%
