<ion-nav-bar class="md-whiteframe-z2 primary" padding="true">
</ion-nav-bar>
<md-sidenav component-id="left" class="md-sidenav-left md-whiteframe-z2" padding on-swipe-left="main.nav('close')">
  <md-toolbar class="">
    <div layout="horizontal" layout-align="start end" layout-fill class="nav-header">
      <div flex><img ng-src="{{ app.user.picture }}" alt=""></div>
      <!-- <span flex></span> -->
      <div flex class="name"><h3>{{ app.user.name }}</h3></div>
    </div>
  </md-toolbar>
    <md-content class="md-padding">
      <md-list>

        <md-item>
          <md-item-content class="nav-menu" ng-click="main.goAndClose('sip.main.bars.list')">
            <div class="md-tile-left">
              <!-- <img ng-src="{{item.face}}" class="face" alt="{{item.who}}"> -->
              <i class="icon ion-wineglass"></i>
            </div>
            <div class="md-tile-content nav-menu">
              bars
            </div>
          </md-item-content>
        </md-item>

        <md-divider></md-divider>

        <md-item>
          <md-item-content class="nav-menu" ng-click="main.goAndClose('sip.main.profile')" ink-ripple>
            <div class="md-tile-left">
              <!-- <img ng-src="{{item.face}}" class="face" alt="{{item.who}}"> -->
              <i class="icon ion-person"></i>
            </div>
            <div class="md-tile-content nav-menu">
              profile
            </div>
          </md-item-content>
        </md-item>
        <md-divider></md-divider>

         <md-item>
          <md-item-content class="nav-menu">
            <div class="md-tile-left">
              <!-- <img ng-src="{{item.face}}" class="face" alt="{{item.who}}"> -->
              <i class="icon ion-gear-b"></i>
            </div>
            <div class="md-tile-content nav-menu">
              settings
            </div>
          </md-item-content>
        </md-item>
        <md-divider></md-divider>

        <md-item>
          <md-item-content class="nav-menu" ng-click="main.signout()" ink-ripple>
            <div class="md-tile-left">
              <!-- <img ng-src="{{item.face}}" class="face" alt="{{item.who}}"> -->
              <i class="icon ion-fireball"></i>
            </div>
            <div class="md-tile-content nav-menu">
              signout
            </div>
          </md-item-content>
        </md-item>
        <md-divider></md-divider>
      </md-list>
    </md-content>
</md-sidenav>
<ion-nav-view name="pane"></ion-nav-view>

