// dark #191919
// light dark #1f1f1f

div.scroll
  height 100%

ion-nav-view
.pane
.view
  position inherit

md-backdrop
  z-index 11
md-sidenav
  background-color dark !important
  z-index 12
  md-toolbar
    // background-color primary !important
    background url(../img/side-nav-bg.jpg) no-repeat center center
  md-content
    background-color dark !important
    *
      background-color light
      color dividerColor

h1.title
  color light !important
.nav-menu
  font-size 1.3em
  .md-tile-left
    margin-left 20px

.nav-header
  padding 10px 30px
  .name h3
    color white

  div img
    width 60px
    height 60px
    border-radius 100%

.nav-ham
  font-size 2em
  color light
.btn-wrapper
  width 120px

.bar-header.bar
  height 55px

.buttons.right-buttons
  margin-top 10px

.buttons.left-buttons
  margin-top 10px
  color light
.settings
  color light
  font-size 1.6em
  margin-left 80px
.popover
  margin-top 2%

.scroll-content.ionic-scroll
  margin-top 10px

