div.scroll
  height 100%

[sip-ripple]
  position relative
  overflow hidden

.angular-ripple
  display block
  position absolute
  background-color rgba(0,0,0,0.1)
  border-radius 50%
  transform scale(0)

.angular-ripple.animate
  animation ripple 0.35s linear

@css {
  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }
}


ion-nav-view
.pane
.view
  position inherit

md-backdrop
  z-index 11
md-sidenav
  background-color dark !important
  z-index 60
  width 80%

  md-content *
    background-color light
    color textColor
md-divider
  border-top-color rgba(dividerColor, .6) !important

.bar
  background-image none
h1.title
  color light !important
.nav-menu
  font-size 1.3em
  .md-tile-left
    margin-left 20px

.nav-header
  padding 10px 30px
  .name h3
    color white

  div img
    width 60px
    height 60px
    border-radius 100%

.title.title-center
  margin 0px
  text-align left
  min-width 70px !important

.nav-ham
  font-size 2em
  color light

.btn-wrapper
  width 120px
  height 100%

.left-buttons
  height 46px

.buttons.right-buttons
  margin-top 10px

md-dialog
  md-content
    *
      color textColor
  .md-actions
    background-color light

.bar.bar-footer
  padding 0px
  height 120px
  div
    height 100%
    width 100%
    .tax
      background-color light
      height 50%
      text-align center
      padding-top 4%
      *
        color textColor
    .order
      height 50%
      background-color primaryLight
      text-align center
      padding-top 4%
