div.scroll
  height 100%

ion-nav-view
.pane
.view
  position inherit

md-sidenav
  padding-top 40px

.nav-menu
  font-size 1.5em

  .md-tile-left
    margin-left 45px

.nav-header
  padding 10px 30px

  .name
    // font-size 1.3em
    margin-left 12px
    h2
      color white
  div img
    width 60px
    height 60px
    border-radius 100%
