.bars-list md-item md-item-content
  background-color light
  min-height 55px
  *
    color textColor
md-progress-circular.md-teal-theme .md-inset
  background-color primary

.loading-container .loading
  background-color transparent


