<ion-view title="Bars">
  <ion-nav-buttons side="left">
    <div class="btn-wrapper" ng-click="main.nav('toggle')">
      <i class="icon ion-navicon-round nav-ham"></i>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!-- <div class="btn-wrapper" ng-click="main.openPopover($event)">
      <i class="icon ion-android-more settings"></i>
    </div> -->
  </ion-nav-buttons>
  <ion-content on-swipe-right="main.nav('open')">
    <md-content>
      <md-list class="bars-list">
        <md-item ng-repeat-start="bar in bars.barsNearUser">
          <md-item-content layout-padding layout="horizontal"
            layout-fill layout-align="start center"
            ui-sref="sip.main.bars.drinks({ bar: bar._id })"
            ink-ripple>
            <div flex class="md-tile-leftsdf">{{ ::bar.name }}</div>
            <div flex class="md-tile-contensdfsadt">
              {{ ::bar.distance }} mi
            </div>
            <div flex>
              {{ bar.people }}+ people
            </div>
          </md-item-content>
        </md-item>
        <md-divider ng-repeat-end></md-divider>
      </md-list>
    </md-content>
  </ion-content>
</ion-view>
