.bars-list md-item md-item-content
  background-color light
  min-height 55px
  *
    color textColor
md-progress-circular .md-inset
  background-color accent

.loading-container .loading
  background-color transparent

.bar-name
  font-size 1.8em
.bar-distance
  font-size 1.6em


