<ion-view view-title="Bars">
  <ion-nav-buttons side="left">
    <div class="btn-wrapper" ng-click="main.nav('toggle')">
      <i class="icon ion-navicon-round nav-ham"></i>
    </div>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader accent">
    <div layout="row" layout-align="start center">
      <div flex="10">
        <i class="icon icon-material-search" style="color: white;"></i>
      </div>
      <div flex="90">
        <md-input-container class="cat-search">
          <label>search bars</label>
          <input type="text" ng-model="search">
        </md-input-container>
      </div>
    </div>
  </ion-header-bar>
  <ion-content on-swipe-right="main.nav('open')">
    <ion-refresher
      on-refresh="bars.refreshBars()"
      refreshing-icon="ion-loading-c"
    >
    </ion-refresher>
    <md-content>
      <md-list class="bars-list">
        <md-item ng-repeat-start="bar in bars.bars | filter:search">
          <md-item-content layout-padding layout="row"
            layout-fill layout-align="start center"
            ui-sref="sip.main.bars.detail({ bar: bar._id })"
            nav-transition="platform">
            <div flex class="bar-name">{{ ::bar.name }}</div>
            <div flex class="bar-distance">
              {{ ::bar.distance }}
            </div>
            <!-- <div flex> -->
              <!-- {{ ::bar.type }} -->
            <!-- </div> -->
          </md-item-content>
        </md-item>
        <md-divider ng-repeat-end></md-divider>
      </md-list>
    </md-content>
  </ion-content>
</ion-view>
