.category-list md-item md-item-content
  background-color light
  *
    color textColor

.platform-android .cat-search
  font-size 1em
  margin 0px
  *
    color white !important

.platform-ios .cat-search
  font-size 1em
  margin 0px
  *
    color white !important

.cat-name
  text-align center
  background-color light

.cat-card
  background-color light
  *
    color textColor

.cat-card-list
  background-color dark !important

.first-cat-card
  margin-top 6%

ion-header-bar.bar-subheader.accent-dark
  height 55px


#order-fab
  background-color accent !important
  color light

.drinks-list md-item md-item-content
  background-color light
  *
    color textColor

.drink-action
  text-align center
  *
    font-size 1.2em

.drink-action.add *
  color accentDark !important
.drink-action.fave *
  color primary !important
.drink-action.notes *
  color textColor !important

.last-drink
  margin-bottom 20%
