.drink-cat
  background-color light
  height 34vw

.cat-list md-item md-item-content
  background-color light
  *
    color textColor

.cat-name
  text-align center
.scroll-content.ionic-scroll.cats
  margin-top 0px !important
  position inherit
  min-height 70vh

md-toolbar.bar-details
  margin-top 56px;
  height 30vh
  max-hieght 30vh
