#order-fab
  background-color accent !important
  color light

.drinks-list md-item md-item-content
  background-color light
  *
    color textColor

.drink-action
  text-align center
  *
    font-size 1.2em

.drink-action.add *
  color accentDark !important
.drink-action.fave *
  color primary !important
.drink-action.notes *
  color textColor !important

.last-drink
  margin-bottom 20%
