#order-fab
  background-color accent !important
  color light

.drinks-list md-item md-item-content
  background-color light
  *
    color textColor

.drink-action-icon
  text-align center

  *
    color accentDark !important
    font-size 1.2em
.last-drink
  margin-bottom 20%
