@import '../_stylus/*'
@import 'auth/auth'
@import 'main/main'
@import 'main/bars/list/list'
@import 'main/bars/list/detail/detail'
@import 'main/bars/list/detail/drinks/drinks'
// @import 'main/bars/list/detail/categories/drinks/drinks'

body *
  font-family Roboto

md-content
ion-content
body
  background-color dark !important

// html
// body
// div
//   height 100%
//   width 100%
