@import '../_stylus/*'
@import 'auth/auth'
@import 'main/main'
@import 'main/bars/list/list'
@import 'main/bars/list/categories/categories'
@import 'main/bars/list/categories/drinks/drinks'

body *
  font-family Roboto

md-content
ion-content
body
  background-color dark !important
