div.scroll {
  height: 100%;
}
ion-nav-view,
.pane,
.view {
  position: inherit;
}
md-sidenav {
  padding-top: 40px;
}
.nav-menu {
  font-size: 1.3em;
}
.nav-menu .md-tile-left {
  margin-left: 20px;
}
.nav-header {
  padding: 10px 30px;
}
.nav-header .name h3 {
  color: #fff;
}
.nav-header div img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.nav-ham {
  font-size: 2em;
  color: #fff;
}
.btn-wrapper {
  width: 55px;
}
.bar-header.nav-bar {
  height: 55px;
}
.buttons.right-buttons {
  margin-top: 10px;
}
.buttons.left-buttons {
  margin-top: 10px;
  color: #fff;
}
.settings {
  color: #fff;
  font-size: 1.6em;
  margin-left: 40px;
}
.popover {
  margin-top: 2%;
}
.scroll-content.ionic-scroll {
  margin-top: 10px;
}
.bar-name {
  color: #e91e63;
}
