.accent {
  background-color: #536dfe !important;
}
.primary {
  background-color: #009688 !important;
}
.primary-dark {
  background-color: #00695c !important;
}
.primary-light {
  background-color: #80cbc4 !important;
}
.accent-dark {
  background-color: #3d5afe !important;
}
.auth-view {
  background: url("../img/auth-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: 0px !important;
}
.auth-view md-content {
  background-color: transparent !important;
  color: #ccc;
}
.home-logo {
  text-align: center;
}
.home-logo h1 {
  font-size: 30vw;
}
div.scroll {
  height: 100%;
}
ion-nav-view,
.pane,
.view {
  position: inherit;
}
md-backdrop {
  z-index: 11;
}
md-sidenav {
  background-color: #212121 !important;
  z-index: 12;
  width: 80%;
}
md-sidenav md-toolbar {
  background: url("../img/side-nav-bg.jpg") no-repeat center center;
}
md-sidenav md-content * {
  background-color: #424242;
  color: #ccc;
}
md-divider {
  border-top-color: rgba(51,51,51,0.6) !important;
}
.bar {
  background-image: none;
}
h1.title {
  color: #424242 !important;
}
.nav-menu {
  font-size: 1.3em;
}
.nav-menu .md-tile-left {
  margin-left: 20px;
}
.nav-header {
  padding: 10px 30px;
}
.nav-header .name h3 {
  color: #fff;
}
.nav-header div img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.title.title-center {
  margin: 0px;
  text-align: left;
  min-width: 70px !important;
}
.nav-ham {
  font-size: 2em;
  color: #424242;
}
.btn-wrapper {
  width: 120px;
  height: 100%;
}
.left-buttons {
  height: 46px;
}
.buttons.right-buttons {
  margin-top: 10px;
}
.bars-list md-item md-item-content {
  background-color: #424242;
  min-height: 55px;
}
.bars-list md-item md-item-content * {
  color: #ccc;
}
md-progress-circular .md-inset {
  background-color: #536dfe;
}
.loading-container .loading {
  background-color: transparent;
}
.bar-name {
  font-size: 1.8em;
}
.bar-distance {
  font-size: 1.6em;
}
.detail-list md-item md-item-content {
  background-color: #424242;
}
.detail-list md-item md-item-content * {
  color: #ccc;
}
.detail-list-item {
  min-height: 50px;
}
.detail-list-item div i {
  font-size: 1.5em;
  margin: 0px;
  color: #536dfe;
}
.detail-list-item div strong {
  font-size: 1.5em;
}
.detail-container {
  height: 100%;
}
.scroll-content.ionic-scroll.detail {
  margin-top: 0px !important;
  position: inherit;
  min-height: 70%;
}
.platform-android md-toolbar.bar-details {
  margin-top: 44px;
  height: 30%;
  min-height: 30%;
}
.platform-ios md-toolbar.bar-details {
  margin-top: 44px;
  height: 30%;
  min-height: 30%;
}
.bar-search {
  background-color: #3d5afe;
  padding-left: 5%;
}
.bar-search label,
.bar-search input {
  color: #fff !important;
}
.bar-search input {
  font-size: 1.2em;
}
.category-list md-item md-item-content {
  background-color: #424242;
}
.category-list md-item md-item-content * {
  color: #ccc;
}
.platform-android .cat-search {
  font-size: 1em;
  margin: 0px;
}
.platform-android .cat-search * {
  color: #fff !important;
}
.platform-ios .cat-search {
  font-size: 1em;
  margin: 0px;
}
.platform-ios .cat-search * {
  color: #fff !important;
}
.cat-name {
  text-align: center;
  background-color: #424242;
}
.cat-card {
  background-color: #424242;
}
.cat-card * {
  color: #ccc;
}
.cat-card-list {
  background-color: #212121 !important;
}
.first-cat-card {
  margin-top: 6%;
}
ion-header-bar.bar-subheader.accent-dark,
ion-header-bar.bar-subheader.accent {
  height: 55px;
}
#order-fab {
  background-color: #536dfe !important;
  color: #424242;
}
.drinks-list md-item md-item-content {
  background-color: #424242;
}
.drinks-list md-item md-item-content * {
  color: #ccc;
}
.drink-action {
  text-align: center;
}
.drink-action * {
  font-size: 1.2em;
}
.drink-action.add * {
  color: #3d5afe !important;
}
.drink-action.fave * {
  color: #009688 !important;
}
.drink-action.notes * {
  color: #ccc !important;
}
.last-drink {
  margin-bottom: 20%;
}
.profile-list {
  margin-top: 20px;
}
.profile-list * {
  color: #ccc;
}
.no-card {
  margin-top: 40%;
}
.no-card * {
  color: #ccc;
}
.payments-view * input {
  background-color: #424242;
  color: #ccc;
  font-size: 1.2em;
}
.payments-view * label {
  background-color: #212121;
  border: 0px;
}
.payments-view * label * {
  color: #ccc;
}
body * {
  font-family: Roboto;
}
md-content,
ion-content,
body,
ion-view {
  background-color: #212121 !important;
}
