// .no-card
//   margin-top 40%
//   *
//     color textColor

.payments-view
  *
    color textColor
  * input
    background-color light
    // color textColor
    font-size 2em
  * label
    background-color transparent
    border 0px
    // width 80%
    font-size 1.6em
    *
      color textColor
  md-input-container
    .md-input
      color textColor
    label
      color textColor

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label
  color rgb(0,150,136)


md-input-container:not(.md-input-invalid).md-input-focused label
  color rgb(0,150,136)
  
.my-cards *
  color textColor
