.no-card
  margin-top 40%
  *
    color textColor

.payments-view
  * input
    background-color light
    color textColor
    font-size 1.2em
  * label
    background-color dark
    border 0px
    // width 80%
    *
      color textColor

